    {{extend 'layoutLojinha.html'}}
  
<div class="col-md-4">
                                    <p class="category">With Icons</p>
                                    <div class="switch has-switch" data-on-label="<i class='fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                         <div class="switch-on switch-animate"><input type="checkbox" checked=""><span class="switch-left"><i class="fa fa-check"></i></span><label>&nbsp;</label><span class="switch-right"><i class="fa fa-times"></i></span></div>
                                    </div>
                                    <div class="switch has-switch" data-on-label="<i class='fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                         <div class="switch-animate switch-off"><input type="checkbox"><span class="switch-left"><i class="fa fa-check"></i></span><label>&nbsp;</label><span class="switch-right"><i class="fa fa-times"></i></span></div>
                                    </div>
                                </div>
