{{extend 'dashboard.html'}}
<script>
    $(document).ready(function(){
        $('#minhaTabela').DataTable({
            // "scrollX": true,
            // "order": [ 6, 'desc' ],
            paging:false,
            info:false,
            "language": {
              "url": "{{=URL('static','js/tradutorTable.json')}}"
            },

            // "search": {
            //    "search": "ma"
            // }
                        
        }); 

        controla_telas();
        aplicar_estilo_form();
    });

    function aplicar_estilo_form(){        
        $('#painel_cadastro input[type=text], #painel_cadastro select').addClass('form-control border-input');
        $('input[type=submit]').addClass('btn btn-info btn-fill btn-wd');
        $('#representantes_dataGravado__row, #delete_record__row,#representantes_matricula__row').hide();

                // $('#clientes_foto_cliente__row, .w2p_fl').hide();
    }
    function controla_telas(){
            var largura_navegador = window.innerWidth;
            var largura_tela = screen.width;//largura da tela
            //tela do ipad
            if ((largura_tela < 770) || (largura_navegador < 990)){
                $('.listarepresentantes, .w2p_fl, #representantes_foto_cliente__row').hide();
                $('.title_cadastro').css('font-size','large');
                $('.btVoltar').removeClass('oculto');
                $('.d').animate({scrollTop:100}, 'slow');
            }else{
               $('.d').animate({scrollTop:0}, 'slow'); 
            }
    }    

</script>

<style>
div#painel_cadastro .generic-widget,  div#painel_cadastro .string {
    width: 100%;
}
tr#submit_record__row {
    text-align: center;
}
td.w2p_fw {
    width: 100%;
    display: table-cell;
}
.table-responsive {
    border: none !important;
}
.error_wrapper {
    color: red;
}
div#foto {
    display: inline-block;
    float: left;
}
#foto img {
    width: 46px;
}
/*----------*/
    .oculto{
        display: none;
    }
    #minhaTabela_filter label {
        width: 100%;
        text-align: center;
    }
    input[type="search"] {
        border-radius: 4px;
        border: 1px solid #CCC5B9;
        background: #FFFCF5;
        padding: 9px 3px;
        width: 100%;
        margin: 0 !important;
    }
    div#minhaTabela_filter {
        float: left;
        width: 100%;
        padding: 0 10px;
    }
    nav#subMenuGeral{
        margin-top: 26px;
    }
    nav#subMenuGeral ul{
       padding-left: 9px;
    }
    nav#subMenuGeral ul li {
        list-style: none;
        display: inline;
    }
    nav#subMenuGeral ul li a{
        color: #777777;
    }
    nav#subMenuGeral ul li a:hover{
        color:#68B3C8;
    
    }
    .subMenuAtivo a{
        font-size: xx-large;
        color: #000000 !important;
        cursor: none
    }
    #minhaTabela_wrapper tbody tr:hover {
        background: #FBF6EB;
    } 
    table.dataTable.no-footer {
        border-bottom: none !important;
    } 
    td.sorting_1 {
        padding: 9px 15px !important;
    }   
    td{
        padding: 10px !important;
    }
    .text-center.btVoltar {
        margin-bottom: 15px;
    }
    img.img-circle.img-no-padding.img-responsive {
        width: 35px;
        display: -webkit-inline-box;
        margin: 0 5px !important;
    }
    img.img-circle.img-no-padding.cadastro.img-responsive {
        float: left;
    }
.title_cadastro {
    color: #252422;
    font-weight: 300;
    margin: 12px 0 0px 65px;
}
    img.img-circle.img-no-padding.cadastro.img-responsive {
        width: 48px;
        position: absolute;
        top: 9px;
    }
    select#clientes_operadora {
        color: #DDDDDE;
    }
    .text-center.bt_navegar {
    margin-bottom: 11px;
}
h3.tit_hist {
    margin-left: 13px;
}
table{
    width: 100% !important;
}
td.w2p_fc {
    padding: 0px !important;
}
#representantes_foto_representante__row{display:none;}
div#foto img {
    width: 50px;
    height: 50px;
}
</style>
<input type="text" id="transitory" name="transitory" style="display:none">
<!-- <a href="#" id="t">AQUIIII</a> -->

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

    <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Creative Tim
                </a>
            </div>
            {{=response.barraL}}
        </div>
    </div>


    <div class="main-panel d">
        <div id="aviso" style='display:none' class="alert alert-warning alert-with-icon" data-notify="container"></div>
          <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    
                    <nav id='subMenuGeral'>
                        <h3 class="tit_hist">Editar cadastro </h3>
                    </nav>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
                                    <p>Alertas</p>
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <i class="ti-settings"></i>
                                <p>Settings</p>
                            </a>
                        </li> -->
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <!-- container-fluid -->
            <div class="container-fluid">
                <div class="row">
                    <div class="text-center bt_navegar">
                        <a href="todos" class=" btn btn-default btn-wd">voltar</a>
                    </div>
                     <div class="card" id="formularioCadastro">
                            <div class="header">
                      <!-- ==========foto=========== -->
                            <div id="foto">
                                
                        <td class="oculto">{{foto = db(db.representantes.id==request.vars.codigo).select('foto_representante')[0].foto_representante}}</td>
                        <!-- ==========foto=========== -->
                            {{if foto:}}
                                {{=IMG(_src=URL('default','download',args=foto),_class="img-circle img-no-padding img-responsive",_alt="Circle Image")}}
                            {{else:}}
                                {{=IMG(_src=URL('static','assets/img/faces/face-0.png'),_class="img-circle img-no-padding img-responsive",_alt="Circle Image")}}
                            {{pass}}
                        <!-- ==========foto=========== -->
                            </div>
                      <!-- ==========foto=========== -->
                                <h4 class="title_cadastro">Editar dados do representante!</h4>

                            </div>
                            <div class="content">
                                <!--painel_cadastro--> 
                                <div id="painel_cadastro"> 
                                    {{=form}}
                                <!--    <div class="text-center">
                                        <button type="text" id="btForm" class=" btn btn-default btn-fill btn-wd">+ Adcionar</button>
                                    </div> -->
                                </div><!--fim do painel_cadastro--> 
                            </div>
                        </div> 
                                    </div><!-- fim do row -->
            </div><!-- container-fluid -->
    
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>


    </div>
</div>


