{{extend 'dashboard.html'}}

<link rel="stylesheet" href="{{=URL('static','jquery-ui-1.11.4.custom/jquery-ui.css')}}">
<script src="{{=URL('static','jquery-ui-1.11.4.custom/jquery-ui.js')}}"></script>
<script>


    $(document).ready(function(){

        $('#add_venda_a_lista').on('click',function(){
            
            if ($('#codigo').val() == '') {
                $('#codigo').addClass('validaCodigo');
            } else {
                $('#codigo').removeClass('validaCodigo');
                $(this).text('Trabalhando');
                ajax('addVenaLista',['codigo'],location.reload())

            }
            $('#codigo').on('keyup',function(){
                $('#codigo').removeClass('validaCodigo');
            })
        })

        $('#minhaTabela').DataTable({
            // "scrollX": true,
            // "paging": false,
            "order": [ 7, 'asc' ],
            "language": {
              "url": "{{=URL('static','js/tradutorTable.json')}}"
            }
            
        });
        function inputNome(){ 
            $('#cliente').keyup(function(){
                var v = $(this).val();
                $(this).val(v.toUpperCase());
            });
        }; 

        function inputQtde(cod, valor, cliente){
            /*
                var time = new Date('2014-03-14T23:54:00');
                var outraData = new Date();
                outraData.setDate(time.getDate() + 3); 
            */
            var valor = valor;
            valor = valor.replace("R$ ","");
            valor = valor.replace(".","");
            valor = valor.replace(",",".")
            valor = parseFloat(valor);
            
            $('#qtde_parcelas').on('change',function(){
                var qtdeP = $(this).val(); //qtde de parcelas pego do select
                $('#transitory').val(qtdeP+";"+valor+";"+cliente);
                $('#trModal>img').show(400);
                ajax('gridParcelas',['transitory'],'trModal');
                controla_telas();
            })    
        }

     //=== BUSCAR REGISTRO
        $('#minhaTabela').on('dblclick','tr', function(){
            var iten = $(this)[0]
            var id = iten.children[0].textContent;
            var codigo = iten.children[1].textContent;
            var cheque = iten.children[2].textContent;
            var cliente = iten.children[5].textContent;
            var parcela = iten.children[4].textContent;
            var data = iten.children[8].textContent;

            //================== MODAL ======          
                var titulo = 'Cod: '+codigo;
                //chama o modal            
                $('#myModal').modal('show');
                //quando o modal abrir faça
                $('#myModal').on('shown.bs.modal', function () {
                    inputNome();
                    $("#parc").text(parcela);
                    $("#cheque").val(cheque);
                    $("#data").val(data);
                    $("#cliente").val(cliente);
                    // $("#status").prop('selectedIndex',status);
                    $("#myModalLabel").html(titulo);
                })

                $('#status').on('click',function(){
                    var status = $(this).val();
                    if(status == 'repassado'){
                        $('#repasseCheque').show(400);
                    }else{
                        $('#repasseCheque').hide(400);
                    }
                });    

                //botao gravar do modal
                $('#gravar').on('click',function(){
                    var cheque_Modal = $('#cheque').val();
                    var cliente_Modal = $('#cliente').val();
                    var data_Modal = $('#data').val();
                    var status_Modal = $('#status').val();
                    var receptor = $('#receptor').val();
                    console.log(receptor);
                    $(this).text('gravando...');
                    $('#transitory').val(id+';'+cheque_Modal+';'+cliente_Modal+';'+status_Modal+';'+data_Modal+';'+receptor);
                    console.log(data_Modal);
                    ajax('atualizarParcelados',['transitory']);
                    $("#myModal").modal('hide');
                })
                //quando o modal fechar
                $('#myModal').on('hide.bs.modal', function () {
                    location.reload();//reload na pagina pra carregar as alteracoes na tabela
                })
            //==== FIM MODAL ======

        }); //fim do busca registro
    
    function controla_telas(){
            var largura_navegador = window.innerWidth;
            var largura_tela = screen.width;//largura da tela
            //tela do ipad
            if ((largura_tela < 770) || (largura_navegador < 990)){
                $('.listaCLientes, .w2p_fl').hide();
                $('.title_cadastro').css('font-size','large');
                $('.btVoltar').removeClass('oculto');
                $('.d').animate({scrollTop:110}, 'slow');
                $('table').css('table-layout','fixed');
                $('#minhaTabela_wrapper').css('padding','10px 0px');
                $('.grid_cheque').hide();
            }else{
               $('.d').animate({scrollTop:0}, 'slow'); 
            }
    }         
});//fim jquary ready
</script>

<style>
/*new logo*/
img#logo-new_theme{
    width: 101px !important;
    padding: 0px 6px !important;
    font-size: 18px !important; 
}
.sidebar .logo, .sidebar[data-background-color="white"] .logo, .off-canvas-sidebar .logo, .off-canvas-sidebar[data-background-color="white"] .logo {
    border-bottom: 1px solid rgba(102, 97, 91, 0.3);
    display: -webkit-box;
    margin: 0 auto;
    text-align: -webkit-center;
}
.card .footer {
    padding: 4px 12px;
    line-height: 30px;
}

#len{
    background-color: #03A9F4;
    font-weight: bold;
    font-family: sans-serif;
    font-size: inherit;
}

h3.tit_hist {
    margin-left: 15px;
}
 blockquote.control-label {
        /* display: flex; */
        /* background: aqua; */
        /* width: 361px; */
        position: fixed;
        left: 219px;
        top: 67px;
    }
    .modal-body {
        padding-bottom: 0px !important;
    }
    #trModal>img {
        margin-left: 50%;
        display: none;
    /* font-size: 2px; */
    }
    .grid_data {
        width: 17%;
    }
    .grid_dono {
        width: 29%;
    }
    .grid_cheque {
        width: 15%;
    }
    .grid_banco{
        width: 18%;
    }
    .grid_parcela {
        width: 45px;
    }
    input.form-control.inputGrid {
        height: 26px;
        /*font-size: 13px;*/
        width: 100%;
    }
    div#campoNomeRepasse {
        margin-top: 7px;
    }
    span#lenLancamentos{
        background: #FF9D01;
    }

    .debito{
        color: red;
        font-weight: 600;
    }
    .verde{
        color:#0AAB2F;
        font-weight: 600;
    }
    .laranja{
        color:#FF9D00;
        font-weight: 600;        
    }
    .containerRadio {
        padding-left: 23px;
    }
    .containerRadio label{
        margin: 0 !important;
    }
    .oculto{display:none;}
    #minhaTabela {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .atualizar{float: right;}
    .JpositionA{float: right;}
    .JpositionA a{margin-right: 0px !important;}
    .ativoo{
        background: #E3FFF6;
    }
    #minhaTabela input {
        height: 22px;
    }
select#qtde_parcelas {
    width: 63px;
}
.validaCodigo{
    border-color: #E91E63;
    box-shadow: none;
    background: #FFF1F6;
}
input, select {
    border: 1px solid #DADADA !important;
}
select#status {
    margin-left: 0 !important;
}
.modal-dialog {
    width: 293px;
}
select#banco {
    height: 26px;
    font-size: 13px;
    width: 100%;
    padding-top: 4px;
}
.card {
    padding: 6px;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #CCC5B9 !important;
}
div#minhaTabela_length, div#minhaTabela_filter{
    margin: 15px !important;
} 
div#minhaTabela_wrapper {
    font-size: 13px;
}
div#minhaTabela_paginate {
    margin: 8px;
}
div#minhaTabela_info {
    margin: 8px 14px;
}
td {
    padding: 11px 5px !important;
}
input[type="search"] {
    border: 1px solid #CCC5B9;
    border-radius: 3px;
    padding: 5px;
}select {
    background-color: #FFFCF5;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #CCC5B9;
    margin: 0 7px;
}
select#qtde_parcelas {
    width: 74px;
}   
td.destaque {
    color: #0F7698;
}

#tab_calculo_parcelas .form-control {
    background: white;
}
table#tab_calculo_parcelas td {
    padding: 5px 0px;
}
</style>

<input type="text" id="transitory"  name="transitory" style='display:none'>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <!--U-->
  <div class="modal-dialog" role="document">
    <!--V-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
            <form id="model_form">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Nº do Cheque:</label>
                        <input type="text" class="form-control" id="cheque" value="">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Data parcela Nº <span id="parc"></span></label>
                        <input type="date" class="form-control" id="data" >
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Emitente do Cheque:</label>
                        <input type="text" class="form-control" id="cliente" value="">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Status</label>
                        <select class="form-control" id="status">
                          <option value="devolvido ao cliente">devolvido ao cliente</option> 
                          <!-- <option value="pendente">pendente</option> -->
                          <option value="compensado">compensado</option>
                          <option value="repassado">repasse</option>   
                          <!-- <option value="devolvido 1-vez">devolvido 1-vez</option>   -->
                          <!-- <option value="devolvido 2-vez">devolvido 2-vez</option>   -->          
                        </select>
                    </div> 

   
                    <!-- fim repassado -->
                </form>  

                <div id="repasseCheque" style="display:none">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label ">Receptor do cheque:</label>
                        <input type="text" class="form-control" id="receptor">
                    </div>
                </div>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" id="gravar" class="btn btn-success">Atualizar</button>
      </div>
    </div><!--fim v-->
  </div><!--fim U-->
</div><!-- fim do Modal -->

<!--x-->
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    {{=response.logo.new_theme}}
                </a>
            </div>
            {{=response.barraL}}
        </div>
    </div>

    <!--z-->
    <div class="main-panel">
        <div id="aviso" style='display:none' class="alert alert-warning alert-with-icon" data-notify="container"></div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    
                    <h3 class="tit_hist">Devolvido ao cliente</h3>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
                                    <p>Alertas</p>
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <i class="ti-settings"></i>
                                <p>Settings</p>
                            </a>
                        </li> -->
                    </ul>

                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row"> 
                    <form id="opcaoCheque">
                        <div class="col-md-4"> 
                            <ul class="list-group card">
                              <li class="list-group-item">
                                <div class="containerRadio">
                                    <label class="radio laranja">
                                        <input type="radio"  name="inlineRadioOptions" id="inlineRadio1" value="option1"> Aguardando lançamento
                                    </label>
                                </div>  
                              </li>
                              <li class="list-group-item">
                                <div class="containerRadio">
                                    <label class="radio">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Compensado
                                    </label>
                                </div>
                              </li>
                            </ul>
                        </div>  
                        <div class="col-md-4"> 
                            <ul class="list-group card">
                              <li class="list-group-item">
                                <div class="containerRadio">
                                    <label class="radio">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option3"> Devolvido ao cliente
                                    </label>
                                </div>  
                              </li>
                              <li class="list-group-item">
                                <span class="badge" id="len">{{=qt}}</span>
                                <div class="containerRadio">
                                    <label class="radio">
                                        <input type="radio" checked name="inlineRadioOptions" id="inlineRadio6" value="option4"> Repassado
                                    </label>
                                </div>
                              </li>
                            </ul>
                        </div>
                        <div class="col-md-4"> 
                            <ul class="list-group card">
                              <li class="list-group-item">
                                <div class="containerRadio">
                                    <label class="radio">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option5"> Devolvido 1-Vez
                                    </label>
                                </div>  
                              </li>
                              <li class="list-group-item">
                                <div class="containerRadio">
                                    <label class="radio">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option6"> Devolvido 2-Vez
                                    </label>
                                </div>
                              </li>
                            </ul>
                        </div>     
                    </form>
                </div> 

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                        <!-- table -->
                        <table id="minhaTabela" class="table" width="100%" >
                            <thead>
                            <tr>
                                <th class="oculto">id</th>
                                <th>Código venda</th>
                                <th>Nº do Cheque</th>
                                <th>Banco</th>
                                <th>Parcela</th>
                                <th>Emitente</th>
                                <th>Receptor</th>
                                <th>Valor</th>   
                                <th>Vencimento</th>
                                <th>Repasse</th>     
                            </tr> 
                            </thead>
                            <tbody>
                                {{for i in table:}}
                                    <tr>
                                        <td class="oculto">{{=i.id}}</td>
                                        <td>{{=i.codigo_venda}}</td>
                                        <td>{{=i.numero_cheque}}</td>
                                        <td>{{=i.banco}}</td>
                                        <td>{{=i.parcela}}</td>
                                        <td>{{=i.proprietario}}</td>
                                        <td class="destaque">{{=i.receptor}}</td>
                                        <td>{{=double_real(i.valor).real()}}</td>
                                        <td>{{=(i.data_vencimento).strftime("%Y-%m-%d")}}</td>
                                        <td>{{=i.modified_on}}</td>
                                    </tr>
                                {{pass}}
                            </tbody>
                        </table>
                        <!-- table -->
                        </div> <!--fim do card-->
                    </div>    
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>
    </div><!--fim do z-->
</div><!--fim x-->

