{{extend 'dashboard.html'}}
<script>
    $(document).ready(function(){
        $('#minhaTabela').DataTable({
            // "scrollX": true,
            "order": [ 4, 'desc' ],
            "language": {
              "url": "{{=URL('static','js/tradutorTable.json')}}"
            }
            
        }); 

        //tela do ipad
        var w = screen.width;
        console.log(w);
        if (w < 1024 ) {
            $('#minhaTabela tr td:nth-child(2), #minhaTabela tr th:nth-child(2), #minhaTabela tr td:nth-child(3), #minhaTabela tr th:nth-child(3)').hide()
        }else if (w < 414 ) {
             $('#minhaTabela tr td:nth-child(2), #minhaTabela tr th:nth-child(2), #minhaTabela tr td:nth-child(3), #minhaTabela tr th:nth-child(3), #minhaTabela tr td:nth-child(4), #minhaTabela tr th:nth-child(4), #minhaTabela tr td:nth-child(5), #minhaTabela tr th:nth-child(5), #minhaTabela tr td:nth-child(6), #minhaTabela tr th:nth-child(6)').hide()           
        }


        // .animate({ scrollTop: pos }, 'slow', 'swing');
        //=== DELETAR ITEN
        $(".del").on('click',function(){
            var c = confirm("Tem certeza que deseja deletar a Venda?")
            if (c == true) {
                // var i = $(this).parent().parent().index(); //pega posicao da row
                var v = $(this).parent().parent()[0].children[0].textContent;//pega valor da celula 4 da row
                console.log(v);
                // $("#transitory").val(i+";"+v);//envia para o value do input
                $("#transitory").val(v);//envia para o value do input
                ajax('excluirVendaRegistrada',['transitory']);//chama funcao do python
                $(location).attr('href',"historico");//redireciona a pagina

            }else{
                console.log("Registro mantido!")
            };          
        });

        //=== BUSCAR REGISTRO
        $('.print').on('click',function(){
            var td = $(this).parent().parent().children()[0];
            var URL = "//{{='%s/%s/%s/imprimir?cod='%(request.env.http_host,request.application,request.controller)}}"+td.textContent;
            var width = 880;
            var height = 920;
             
            var left = 70;
            var top = 30;
             
            window.open(URL,'janela', 'width='+width+', height='+height+', top='+top+', left='+left+', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');
        });



        buscarHist.addEventListener('click',function(){
            var inicio = data_inicio.value;
            var final = data_fim.value;
            if (inicio == '' || final == '') {
                $('#aviso').html(
                    "<button type='button' aria-hidden='true' class='close'>×</button>"+
                    "<span data-notify='message'>"+"As datas de inicio e fim no formato dd/mm/aaaa são obrigatórias."+
                    "</span>").show(500).delay(6000).hide(400);
            } else {
                $(location).attr('href',"historico?inicial="+inicio+"&final="+final);
            }
        });
        // $('#buscaHist').on('click',function(){
        //     $(location).attr('href',"table?inicial=2016-04-01&final=2016-04-10");//redireciona 
        // });

  });
</script>

<style>
/*new logo*/
img#logo-new_theme{
    width: 101px !important;
    padding: 0px 6px !important;
    font-size: 18px !important; 
}
.sidebar .logo, .sidebar[data-background-color="white"] .logo, .off-canvas-sidebar .logo, .off-canvas-sidebar[data-background-color="white"] .logo {
    border-bottom: 1px solid rgba(102, 97, 91, 0.3);
    display: -webkit-box;
    margin: 0 auto;
    text-align: -webkit-center;
}
/*fim new logo*/
span.ti-new-window {
    font-weight: 500;
    color: #009C98;
}
    div#minhaTabela_length, div#minhaTabela_info {
        margin-left: 18px;
    }
    div#minhaTabela_filter, div#minhaTabela_paginate {
        margin-right: 19px;
    }   
    table#minhaTabela {
        margin-bottom: 9px;
    }
    td {
        padding: 4px 11px!important;
    }
    
    form#buscaHist {
          margin-bottom: 10px;
    }
    h3.tit_hist {
        padding-left: 14px;
    }
    div#tituloTable {
        width: 231px;
        float: left;
    }
    #buscaHist input {
        border: 1px solid #C1C1C1;
    }
    input[type="search"] {
        border: 1px solid #CCC5B9;
        border-radius: 3px;
        padding: 5px;
    }
    select {
        background-color: #FFFCF5;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid #CCC5B9;
        margin: 0 7px;
    }
    ul.nav.subMenu {
    display: inline-flex;
}
.navbar-header {
    display: inline;
}
a#caixa {
    font-weight: bold;
    margin: 0px 14px;
    padding: 5px 36px;
}
#th_bt{width: 63px;}

</style>
<input type="text" id="transitory" name="transitory" style="display:none">
<!-- <a href="#" id="t">AQUIIII</a> -->

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    {{=response.logo.new_theme}}
                </a>
            </div>
            {{=response.barraL}}
        </div>
    </div>






    <div class="main-panel">
        <div id="aviso" style='display:none' class="alert alert-warning alert-with-icon" data-notify="container"></div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    
                    <h3 class="tit_hist">Hitórico
                    <a type="text" id="caixa" href="etapa_1" class="btn btn-fill btn-success">Caixa</a></h3>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
                                    <p>Alertas</p>
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <i class="ti-settings"></i>
                                <p>Settings</p>
                            </a>
                        </li> -->
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        
                        <form class="form-inline" id="buscaHist">
                            <div class="form-group">
                                <span>Data Inicio</span>
                                <input type="date" class="form-control" id="data_inicio">
                            </div>
                            <div class="form-group">
                                <span>Data Fim</span>
                                <input type="date" class="form-control" id="data_fim">
                            </div>
                            <a type="text" id="buscarHist" class="btn btn-default">buscar</a>
                        </form> 
                    
                    </div>         
                    <div class="col-md-12">
                        <div class="card">
                            <div class="content table-responsive table-full-width">

                              <!-- table -->
                                    <table id="minhaTabela" class="table hover table-striped table-condensed" cellspacing="0" width="100%" >
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Representante</th>
                                            <!-- <th>Desconto</th> -->
                                            <th>Cliente</th>
                                            <th>Valor</th>
                                            <th>Data Venda</th>
                                            <th id="th_bt"></th>
                                        </tr> 
                                    </thead>
                                        <tbody>
                                            {{for venda in formListar:}}
                                                {{if venda.deletado == False:}}
                                                    <tr>
                                                        <td>{{=venda.codigoVenda}}</td>
                                                        <td>{{=db(db.representantes.id == venda.representante ).select('nome')[0].nome }}</td>
                                                        <!-- <td>{{#=venda.tipoVenda}}</td> -->
                                                        <td>{{=db(Clientes.id == venda.clienteEmail).select('nome')[0].nome}}</td>
                                                        <td>{{=double_real(venda.valorVenda).real()}}</td>
                                                        <td>{{=venda.dataVenda}}</td>
                                                    {{if auth.has_membership('admin'):}}    
                                                        <td class="td-actions text-right" style="">
                                                        <a rel="tooltip" title="" class="btn btn-success btn-simple btn-xs print" data-original-title="Visualizar">
                                                    <span class="ti-new-window"></span>
                                                </a>
                                                            <a rel="tooltip" title="" class="del btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)" data-original-title="Remove"><i class="fa fa-remove"></i>
                                                            </a>
                                                        </td>
                                                    {{else:}}
                                                        <td class="td-actions text-right" id="th_bt" style="">
                                                        <a rel="tooltip" title="" class="btn btn-success btn-simple btn-xs print" data-original-title="Visualizar">
                                                            <a rel="tooltip" disabled title="" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)" data-original-title="Remove"><i class="fa fa-remove"></i>
                                                            </a>
                                                        </td>
                                                    {{pass}}    
                                                    
                                                    </tr>
                                                {{pass}}        
                                            {{pass}}            
                                        </tbody>

                                    </table>

                            </div>

                        </div>
                        
                    </div>

<!-- segunda tabela
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Table on Plain Background</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Salary</th>
                                        <th>Country</th>
                                        <th>City</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Dakota Rice</td>
                                            <td>$36,738</td>
                                            <td>Niger</td>
                                            <td>Oud-Turnhout</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Minerva Hooper</td>
                                            <td>$23,789</td>
                                            <td>Curaçao</td>
                                            <td>Sinaai-Waas</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Sage Rodriguez</td>
                                            <td>$56,142</td>
                                            <td>Netherlands</td>
                                            <td>Baileux</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Philip Chaney</td>
                                            <td>$38,735</td>
                                            <td>Korea, South</td>
                                            <td>Overland Park</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Doris Greene</td>
                                            <td>$63,542</td>
                                            <td>Malawi</td>
                                            <td>Feldkirchen in Kärnten</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Mason Porter</td>
                                            <td>$78,615</td>
                                            <td>Chile</td>
                                            <td>Gloucester</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

 fim segunda tabela -->
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>


    </div>
</div>


