{{extend 'layoutLojinha.html'}}
<script>
	$(document).ready(function(){
        $('#minhaTabela').DataTable({
            "scrollX": true,
            "order": [ 6, 'desc' ],
            "language": {
              "url": "{{=URL('static','js/tradutorTable.json')}}"
            }
            
        }); 

	    //=== DELETAR ITEN
		$(".del").on('click',function(){
			var c = confirm("Tem certeza que deseja deletar a Venda?")
	      	if (c == true) {
		        // var i = $(this).parent().parent().index(); //pega posicao da row
		        var v = $(this).parent().parent()[0].children[0].textContent;//pega valor da celula 4 da row
		        console.log(v);
		        // $("#transitory").val(i+";"+v);//envia para o value do input
		        $("#transitory").val(v);//envia para o value do input
		        ajax('excluirVendaRegistrada',['transitory']);//chama funcao do python
		        $(location).attr('href',"historico?menu=caixa");//redireciona a pagina
	      	}else{
		        console.log("Registro mantido!")
		    };			
		});

		//=== BUSCAR REGISTRO
		$('#minhaTabela').on('dblclick','tr', function(){
			var cod = this.children[0].textContent;
			$(location).attr('href',"historico_print?menu=caixa&cod="+cod);//redireciona a pagina
		});

// ** DATA **
  var data = new Date();
  var mes = (data.getMonth()+1).toString(); // 0-11 (zero=janeiro)
  if (mes<10 && mes>0) {
    mes = "0"+mes;
  }
  var ano4    = data.getFullYear(); // 4 dígitos     
// FIM DATA

$(function(){
  $("#mesHistoricoErros button").text(mes);
  $("#anoHistoricoErros button").text(ano4);

  $("#mesHistoricoErros ul li a").on('click', function(event) {
    $("#mesHistoricoErros button").text($(this).text().substring(0,2));
  });
  $("#anoHistoricoErros ul li a").on('click', function(event) {
    $("#anoHistoricoErros button").text($(this).text());
  });
});


	    
	})
</script>
<style>
	.no-select {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	#transitory, .btD {display:none;}
	.dest{color:#9E1818;}	
	#dataTable tbody tr:hover{
		cursor: pointer;
	}
	.r{margin-bottom: 10px;}
	tr{cursor:pointer;}
	.btDD a.del {
    	margin-left: -2px !important;
	}
	#minhaTabela tbody tr:first-child{
		background-color: #E9FFEA;
	}

#mesHistoricoErros{
    display: block;
    
}
#mesHistoricoErros button{
    border-radius: 3px 0px 0px 3px !important;
    margin-right: 0px;
}
#anoHistoricoErros button{
    border-radius: 0px 3px 3px 0px !important;
    border-left: none;
}
</style>

<input type="text" id="transitory" name="transitory">
<div class="animated fadeInDown">
<div class="row">
	
</div>
<h2>Histórico das vendas <small> em destaque o ultimo resgistro!</small></h2>
<hr>
 <div class="btn-group" id="mesHistoricoErros" >
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <ul class="dropdown-menu">
              <li><a href="#">01 - Janeiro</a></li>
              <li><a href="#">02 - Fevereiro</a></li>
              <li><a href="#">03 - Março</a></li>
              <li><a href="#">04 - Abril</a></li>
              <li><a href="#">05 - Maio</a></li>
              <li><a href="#">06 - Junho</a></li>
              <li><a href="#">07 - Julho</a></li>
              <li><a href="#">08 - Agosto</a></li>
              <li><a href="#">09 - Setembro</a></li>
              <li><a href="#">10 - Outubro</a></li>
              <li><a href="#">11 - Novembro</a></li>
              <li><a href="#">12 - Desembro</a></li>
            </ul>
    </div>
    <div class="btn-group" id="anoHistoricoErros">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <ul class="dropdown-menu">
          <li><a href="#">2015</a></li>
          <li><a href="#">2014</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-info btn-lg" aria-label="Left Align">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>

<hr>
<!-- table -->
<table id="minhaTabela" class="table hover" cellspacing="0" width="100%" >
<thead>
	<tr>
		<th>Codigo</th>
		<th>Representante</th>
		<th>Tipo</th>
		<th>Valor pago</th>
		<th>Desconto</th>
		<th>Cliente</th>
		<th>Data Venda</th>
		<th></th>
	</tr> 
	<tbody>
		{{for venda in formListar:}}
			{{if venda.deletado == False:}}
				<tr>
					<td>{{=venda.codigoVenda}}</td>
					<td>{{=venda.representante}}</td>
					<td>{{=venda.tipoVenda}}</td>
					<td>{{="R$ %.2f"%float(venda.valorVenda)}}</td>
					<td>{{="R$ %.2f"%float(venda.valorDesconto)}}</td>
					<td>{{=venda.clienteEmail}}</td>
					<td>{{=venda.dataVenda}}</td>
					<td class="btDD">
						<a class="btn btn-default del btn-xs" href="#"><span class="glyphicon glyphicon-remove"></span></a>
					</td>
				</tr>
			{{pass}}		
		{{pass}}			
	</tbody>
</thead>
</table>
</div>

